div.Adoption,
div.AdoptionForm {
  background-image: url('/images/alexis-chloe-dD75iU5UAU4-unsplash.jpg');
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

div.pet {
  color: black;
}
ul {
  list-style: none;
}

h2 {
  color: black;
}
.adoption-wrapper {
  position: absolute;
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 25px;
  color: white;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
button,
input#submit {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background: #1a2426;
  border-radius: remy(35px);
  margin: 5px;
}
input,
input#name {
  background-color: white;
  font: black;
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
}
button:hover,
button#info:hover {
  background-color: #a6948d;
  cursor: pointer;
}

h2 {
  margin-top: 15vh;

  text-align: center;
}
