div.pet {
  color: black;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 0.5rem;
}

h2 {
  color: black;
  text-align: center;
}

button,
input#submit {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  background: #1a2426;
  border-radius: remy(35px);
  margin: 5px;
}
input,
input#name {
  background-color: white;
  font: black;
  padding: 0.45rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
}
button:hover,
button#info:hover {
  background-color: #a6948d;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .pet-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .adoption-wrapper {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
