div.Confirmation {
  background-image: url('/images/alexis-chloe-dD75iU5UAU4-unsplash.jpg');
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.conf-wrapper {
  position: absolute;
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 25px;
  color: white;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  margin-top: 15vh;

  text-align: center;
}
